* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f3f4f7;
}

/* Header */
header {
    background: linear-gradient(to right, #4CAF50, #3b8d42);
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #3b8d42;
    color: #fff;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
}

/* Section */
section {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Skills */
.skills-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.skills-list li {
    display: flex;
    align-items: center;
    background: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 3px;
}

.skills-list li i {
    margin-right: 8px;
}

/* Projects */
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background: #f3f4f7;
    border: 1px solid #ddd;
    padding: 20px;
    width: 280px;
    text-align: center;
    border-radius: 5px;
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project p a {
    color: #4CAF50;
    text-decoration: none;
}

.project p a:hover {
    text-decoration: underline;
}

/* Contact */
#contact p {
    font-size: 1.1em;
    text-align: center;
}

#contact a {
    color: #4CAF50;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
